.hjitb .selectize-input,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
.btn {
    @include box-shadow( $boxshadow );
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.navbar-nav > li > a, 
.dropdown-menu > li > a,
.header-phone, 
div[id^="hji-theme-main-menu-widget"], 
.header-phone-mobile, 
.custom-sidebar-wrapper .nav > li > a {
    font-family: 'Caviar Dreams', Helvetica, Sans-Serif;
}

h1.page-title {
  background-color: $brand-primary;
  padding: 2.5rem;
  color: $white;
}

// tab links
.nav-tabs >  {
    li > a {
        margin-right: .75em;
        border-color: $nav-tabs-border-color;
        border-top: 3px solid $nav-tabs-border-color;

        &:hover {
            border-color: $nav-tabs-border-color;
            border-top-color: change-color( $brand-primary, $brand-primary );
        }
    }

    // makes the active link have top highlight
    li.active > a,
    li.active > a:hover,
    li.active > a:focus {
        border-top: 3px solid $brand-primary;
    }

}

// tab content
.tab-content {
    background-color: $body-background-color;
    border: 1px solid $nav-tabs-border-color;
    border-top-color: transparent;
}

.black-text {
    color: #000;
}

a,
.btn {
    @include transition( all 0.35s ease-in-out );
}

label {
    margin-right:5px
}

// takes the underline away from the rIDX property title link
a.listing-title:hover {
  text-decoration: none;
}

// aligns the grav form submit button to the center
.gform_footer.top_label {
  margin: 1em auto;
  text-align: center;
}

// takes away the borders from all grav form buttons 
.gform_wrapper .gform_button {
    border: none;
}

// a custom helper class that creates a fifth column on $screen-md. must be
// used with another .col-* class for proper inheritence.
.col-md-fifth {
  @media(min-width: 992px) {
    width: 20%;
  }
}

// centers the rIDX results grid and makes it 75% width on $screen-xs
.idx-results {
  @media (max-width: 768px) {
      width: 75%;
      margin: auto;
  }
}

// makes the content of the pages 95vw
section#primary {
  width: 95%;
}

// takes the underline away from the page headers
.page-header {
  border-bottom: 0px;
}