.hjitb .selectize-input,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
.btn {
    @include box-shadow($boxshadow);
}

// changing the font face on all h tags, menus & the phone number in the header
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-nav > li > a,
.dropdown-menu > li > a,
.header-phone,
div[id^="hji-theme-main-menu-widget"],
.header-phone-mobile,
.custom-sidebar-wrapper .nav > li > a {
    font-family: 'Caviar Dreams', Helvetica, Sans-Serif;
}

// giving the page titles a cool background
h1.page-title {
    background-color: $brand-primary;
    color: $white;
    letter-spacing: .05em;
    padding: 2.5rem;
}

// tab links
.nav-tabs > {
    li > a {
        border-color: $nav-tabs-border-color;
        border-top: 3px solid $nav-tabs-border-color;
        margin-right: .75em;
        &:hover {
            border-color: $nav-tabs-border-color;
            border-top-color: change-color($brand-primary, $brand-primary);
        }
    }
    // makes the active link have top highlight
    li.active > a,
    li.active > a:hover,
    li.active > a:focus {
        border-top: 3px solid $brand-primary;
    }
}

// tab content
.tab-content {
    background-color: $body-background-color;
    border: 1px solid $nav-tabs-border-color;
    border-top-color: transparent;
}

.black-text {
    color: $black;
}

// transitioning all links nicely
a,
.btn {
    @include transition(all 0.35s ease-in-out);
}

label {
    margin-right: 5px;
}

// takes the underline away from the rIDX property title link
a.listing-title:hover {
    text-decoration: none;
}

// aligns the grav form submit button to the center
.gform_footer.top_label {
    margin: 1em auto;
    text-align: center;
}

// takes away the borders from all grav form buttons
.gform_wrapper .gform_button {
    border: 0;
}

// a custom helper class that creates a fifth column on $screen-md. must be
// used with another .col-* class for proper inheritence.
.col-md-fifth {
    @media (min-width: 992px) {
        width: 20%;
    }
}

// centers the rIDX results grid and makes it 75% width on $screen-xs
.idx-results {
    @media (max-width: 768px) {
        width: 75%;
        margin: auto;
    }
}

// the content of all pages
section#primary {
    width: 95%;
}

// takes the underline away from the page headers
.page-header {
    border-bottom: 0px;
}

// forces the save search button to have a grey background on IOS
input.save-search-btn.btn {
    background-color: #C0C0C0;
}

// if we don't do this, there are responsiveness issues
.hjitb.quick-search-widget-wrapper {
    font-size: 14px;
}

// overriding button margins in quicksearch wrapper
.quick-search-widget-wrapper.horizontal .hji-action-buttons-wrap {
    @media (min-width: $screen-sm) {
        margin-top: 0;
    }
}

// makes the QS wrapper transparent & not have a border
.hjitb.quick-search-widget-wrapper {
  background-color: transparent;
  border: 0px;
}