h1.page-title {
    letter-spacing: .05em;
}

.entry-content .read-more-link {
  margin: 1rem 0;

  a {
      text-decoration: none;
  }
}
article.post {
    border-top: rgba($brand-second, 0.75);
    padding-top: 2.5rem;

    &:first-child {
        border-top:none;
    }
}

.custom-video-grid-area-title {
    color: $white;
}

// a helper class that works in conjunction with the responsive bootstrap
// class as a wrapper
.youtube-video-wrapper {
  @media(min-width: 992px) {
    width: 65%;
    margin: auto;
  }
}

// adds a 2rem margin to all content sections not on the homepage
body:not(.home) #content {
    margin: 2rem 0px;
    padding: 2rem;
}

h3.relo, 
.relo-links-wrapper {
    text-align: center;
}

.btn-relo {
    width: calc(50% - 2rem);
    margin: 0 1rem;
}

/* 
 * BEGIN $pdf-download-button 
 * these styles govern the button on the $page
 */

// the container
.pdf-download-container {
  width: 100%;
  margin: 3rem 0rem;
  text-align: center;
}

// the text
a.pdf-download-button {
  font-variant: small-caps;
  font-size: 2.5rem;
  letter-spacing: 2px;
  transition: ease 0.5s;
  &:hover,
  &:focus.
  &:active {
    padding: 2.5rem;    
  }
}

// hides the alphabet search under the main search bar on the 
// agent roster archive page
ul#agent-index {
    display: none;
}

.custom-video-grid-area-title {
    font-weight: bolder;
    font-size: 4.5rem;
    background-color: $brand-primary-light-20;
    padding: 1rem 4rem;
}

.custom-video-grid-item {
    text-align: center;
}

.custom-homepage-cta-pods {
    text-align: center;
    @media(max-width: $screen-md) {
        margin: 1rem auto;
    }
}

// follow blog page
.follow-blog-form-wrapper {
    @media(min-width: $screen-sm) {
        width: 75%;
        margin: auto;
    }
}