// adds a 2rem margin to all content sections not on the homepage
body:not(.home) #content {
    margin: 2rem 0px;
    padding: 2rem;
}

// the "read more" button on the archive
.entry-content .read-more-link {
    margin: 1rem 0;
    a {
        text-decoration: none;
    }
}

// the titles on the "Neighborhood Videos" page
.custom-video-grid-area-title {
    background-color: $brand-primary-light-20;
    color: $white;
    padding: 1rem 4rem;
    font-size: 4.5rem;
    font-weight: bolder;
}

// the "pods" on the "Neighborhood Videos" page
.custom-video-grid-item {
    text-align: center;
}

// the title on the "Relocate To Austin" page
h3.relo {
    text-align: center;
}

// the buttons on the "Relocate To Austin" page
.btn-relo {
    margin: 1rem auto;
    width: 100%;
    @media (min-width: $screen-sm) {
        margin: 0 1rem;
        width: calc(50% - 2rem);
    }
}

// the container for the download button on the "Buyers Resources" page
.pdf-download-container {
    margin: 3rem 0rem;
    text-align: center;
}

// the download button on the "Buyers Resources" page
a.pdf-download-button {
    font-variant: small-caps;
    letter-spacing: 2px;
    white-space: normal;
    @media (min-width: $screen-sm) {
        font-size: 2.5rem;
    }
}

// hides the alphabet search under the main search bar on the 
// agent roster archive page
ul#agent-index {
    display: none;
}

// follow blog page
.follow-blog-form-wrapper {
    @media (min-width: $screen-sm) {
        width: 75%;
        margin: auto;
    }
}