#footer {
    color: $white;
    text-align: center;
    // we need more space
    .container {
        width: 95vw;
    }
    @media (min-width: $screen-sm) {
        text-align: initial;
    }
}

// resets some blvd-native & custom inherited styles on footer widget titles
footer .widget-title {
    margin: 4rem 0 2rem 0;
    h3 {
        border-bottom: $brand-second solid 1px;
        color: $white;
        font-size: 1.5em;
        padding-bottom: 1rem;
        text-align: center;
        text-transform: none;
        @media (min-width: $screen-sm) {
            text-align: initial;
        }
    }
}

// resets some blvd-native styles on footer paragraphs
div#footer-custom-contact-wrapper {
    font-size: 16px;
    word-wrap: break-word;
    @media (max-width: $screen-xs) {
        text-align: center;
    }
    a {
        color: $brand-primary-light-40 !important;
        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }
}

//styles for the footer logo wrapper
.footer-logo-wrapper {
    text-align: center;
}

// styles for the footer logo
img#footer-logo {
    margin: auto;
    width: 75%;
    @media (min-width: $screen-md) {
        width: 50%;
    }
}

// resetting the menu styles
#footer .nav > li > a {
    color: $brand-primary-light-40;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        background-color: $white;
        color: $brand-primary;
    }
}

footer #copyright {
    border-top: 0px;
    margin: 20px auto 0 auto;
    padding: 20px 0;
    a {
        color: $brand-primary-light-40;
    }
}

.hji-powered a {
    color: $brand-primary-light-40 !important;
}