footer .widget-title {
    margin: 4rem 0 2rem 0;
}

footer #copyright {
    margin: 20px auto 0 auto;
    padding:20px 0;
    a {
        // color:#00aed9;
        color: $brand-primary-light-20;
    }
}

// establishes footer-global background, word-break & 
// aligns all text to the center on $screen-xs
#footer {
  .container {
    width: 95vw;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}

// text color resets
#footer #copyright .container, 
#footer .idx-compliance {
  color: #fff;
}

// resets some blvd-native & custom inherited styles on footer widget titles
footer .widget-title h3 {
  text-transform: none;
  color: $white;
  font-size: 1.5em;
  border-bottom: $brand-second solid 1px;
  padding-bottom: 1rem;
  @media(max-width: $screen-xs) {
    text-align: center;
  }
}

// resets some blvd-native styles on footer paragraphs
div#footer-custom-contact-wrapper {
  font-size: 16px;
  @media(max-width: 767px) {
    text-align: center;
  }
  a {
    color: $brand-primary-light-40 !important;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

#footer .nav > li > a {
    color: $brand-primary-light-40;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: $white;
      color: $brand-primary;
      text-shadow: $brand-second 2px 2px 4px;
    }
}

//styles for the footer logo wrapper
.footer-logo-wrapper {
  text-align: center;
}

// styles for the footer log0
img#footer-logo {
  margin: auto;
  width: 75%;
  @media(min-width: $screen-md) {
    width: 50%;
  }
}

// removes the border above the copyright section in the footer
footer #copyright {
    border-top: 0px;
}

.hji-powered a {
  color: $brand-primary-light-40 !important;
}

div#footer-custom-contact-wrapper {
    word-wrap: break-word;
}

