.banner,
.banner .top-header {
    border: none;
}

// makes the users sign in bar 100%. always.
.user-signup-header {
  width: 100%;
}

// makes the header widget 95vw above 1200px
.header-widgets.container {
  @media(min-width: $screen-lg) {
    width: 95vw;
  }
}

//styling for the phone number in the header
.header-phone {
  font-size: 2.65rem;
  position: absolute;
  right: 50px;
}

// styling for the not mobile contact & social media buttons
.social-media-not-mobile .socialmedia-buttons {
    display: initial;
    position: absolute;
    right: 45px;
    top: 75px;
}

// resets the logo margins
.banner .header-widgets .blvd-logo {
    margin: 0px;
}

//resets the bottom margin on the blvd menu
.banner .header-widgets .blvd-responsive-menu {
  margin-top: 0;
  margin-bottom: 10px;
}

// styling for the mobile phone number
.header-phone-mobile {
  font-size: 2.25rem;
}

// makes sure that the logo doesn't overlap the mobile menu toggle
img#site-logo {
  @media(max-width: $screen-lg) {
    width: 75%;
  }
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    background-color: $brand-primary;
    color: #fff;
}