// makes the QS wrapper transparent & not have a border
.hjitb.quick-search-widget-wrapper {
  background-color: transparent;
  border: 0px;
}

// centers the quick search widget title & resets the margins
.home .widget_sm_quicksearch_widget .widget-title {
  margin: 2rem auto;
  h3 {
    text-align: center;
    margin: 0px;
  }
}

// pins the slideshow to the bottom of the header
.blvd-slideshow {
  top: initial;
  box-shadow: $brand-second 0px 5px 10px;
}

// pushes all the home widgets down 
.blvd-home-widgets {
  margin-top: 47rem;
}

.custom-homepage-cta-pods {
    opacity: 0.8;
    transition: ease 0.5s;
    &:hover,
    &:active,
    &:focus {
        opacity: 1;
    }
}