// makes the rIDX quick search fields in the sidebar 100% width
.custom-sidebar-wrapper .hji-fieldwrap input[type="text"] {
    width: 100% !important;
}

// setting more widget title styles
.custom-sidebar-wrapper {
    .widget-title {
        margin: 0;
        h3 {
            font-size: 2rem;
            margin: 2rem auto;
        }
    }
    .nav {
        text-align: initial;
        li > a {
            color: $brand-second;
            -webkit-transition: ease 0.5s;
            transition: ease 0.5s;
            &:hover {
                background-color: $brand-primary;
                color: $white;
            }
        }
    }
}

// aligning the text to the right for the menus on the left side of the page
.custom-sidebar-wrapper .align-right {
    .widget-title h3 {
        padding-right: 15px;
        text-align: right;
    }
    .nav {
        text-align: right;
    }
}

.custom-sidebar-wrapper .nav .current-menu-item a {
    background-color: $brand-primary;
}

// the following three styles are for the Locale Austin CTAs
h3.locale-cta.title {
    font-size: 28px;
    padding: 1rem;
    text-align: center;
}

.locale-cta.signup {
    margin: 2rem auto;
}

.locale-cta.download .btn {
    font-family: 'Caviar Dreams', sans-serif;
    width: 100%;
    white-space: normal;
}

// the "CTAs" in the sidebar below the Locale Austin CTAs
.sidebar-cta.wrapper {
    background-color: #4B679B;
    border-radius: 4px;
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;
}

.sidebar-cta.title {
    color: $white;
}

a.sidebar-cta.link {
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.sidebar-cta.img-wrapper {
    margin-bottom: 1rem;
}

p.sidebar-cta.copy {
    color: $white;
}