// universal widget styles
.widget-title {
    margin: 35px 0 40px 0;

    h3 {
        text-transform: none;
        font-size: 1.6em;
    }
}


// stock WP latest posts widget
.latest-posts-widget img {
    float: none;
    margin: 10px 10px 15px 0;
    max-height: 150px;
    width: 100%;
}


// Widget Styles
.box1,
.box2,
.box3 {
    .widget-title {
        margin: 0;
    }
}

// sets the global panel style for boxes 1 and 2
.box1,
.box2 {

    .widget-inner {
        @extend .panel;

        .widget-title {
            @extend .panel-heading;

            h3 {
                @extend .panel-title;
            }
        }

        div:nth-of-type(2) {
            @extend .panel-body;
        }


    }
}

// sets the color for the panel style
.box1 .widget-inner {
    @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}

// sets the color for the panel style
.box2 .widget-inner {
    @include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}


.box3 .widget-inner {
    @extend .well;

    .widget-title h3 {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.title1 {
    .widget-title h3 {
        padding-left: 1rem;
        border-left: 3px solid $brand-primary;

        color: $brand-second;
    }

    &.box2 {
        .widget-title h3 {
            border-left-color: set-text-color-from-background( $brand-primary );
        }
    }
}

.title2 {
    .widget-title {
        margin-bottom: 25px;

        h3 {
            position: relative;
            padding-bottom: .5em;
            border-bottom: 4px solid $brand-third;

            &:after {
                content: '';
                position: absolute;
                background-color: $brand-primary;

                width: 80px;
                height: 4px;
                left: 0;
                bottom: -4px;
            }
        }
    }

    &.box2 {
        h3:after {
            background-color: set-text-color-from-background( $brand-primary );
        }
    }
}

.title3 {
    .widget-title {
        margin: 0 0 25px 0;
        background-color: $brand-primary;
        -webkit-font-smoothing: antialiased;


        h3 {
            padding: 15px 10px;
            color: set-text-color-from-background( $brand-primary );
        }
    }
}


// rIDX Featured Listings Widgets
.widget_promoted_listings_widget {
    .widget-title {
        margin: 0;
    }
}


// agent roster theme slider widget
//.hji-agents {
//    margin-left:-10px;
//    margin-right:10px;
//
//    .img-wrap-outer {
//        margin:10px 0 10px 0;
//    }
//
//    h5 a {
//        color:#999;
//        font-size: 0.95em;
//        font-weight: 400;
//        margin-left:30px;
//    }
//
//    img {
//        max-height:70px;
//        max-width: 70px;
//        height: 70px !important;
//        width: 70px !important;
//        display: block;
//        margin: 0 auto;
//        vertical-align: middle;
//    }
//}


// twitter widget plugin
.twitter_themes_widget {
    border-top:solid 1px #eee;
    padding:0 25px;
    color:#999;

    .twitter_themes:before {
        content: "Check us out at #MiramarRealty";
        display:inline;
        float:left;
        font-size: 0.9em;
        background:url('/wp-content/uploads/2014/10/twitter_newbird_boxed_whiteonblue.jpg') left center no-repeat;
        width:25%;
        padding:20px 20px 20px 60px;
        margin:0;
    }
    .twitter_little_wrapper {
        border:none !important;
        float: right;
        width: 75%;
        margin:-38px 0 0 0;
    }
}