/**
 * Child Theme Variables
 * Use this file to override any variables that are set in the compiler
 * Becuase the compiler uses the !default attribute for all variable declarations
 *
 * Use this to specify variables that cannot be changed.
 */

$brand-primary: #44587b;
$brand-second: #7f7f7f;
$brand-third: #fff;

$brand-primary-light: lighten( $brand-primary, 20% ) !default;
$brand-primary-dark: darken( $brand-primary, 20% ) !default;

$brand-second-light: lighten( $brand-second, 20% ) !default;
$brand-second-dark: darken( $brand-second, 20% ) !default;

$brand-third-light: lighten( $brand-third, 20% ) !default;
$brand-third-dark: darken( $brand-third, 20% ) !default;

$home-widget-parallax: none !default;

$boxshadow: 3px 3px 4px 0 rgba(0,0,0,.25);