/**
 * Child Theme Variables
 * Use this file to override any variables that are set in the compiler
 * Becuase the compiler uses the !default attribute for all variable declarations
 *
 * Use this to specify variables that cannot be changed.
 */

$brand-primary: #44587b;
$brand-second: #7f7f7f;
$brand-third: #fff;

$brand-primary-light-20: lighten($brand-primary, 20%);
$brand-primary-dark-20: darken($brand-primary, 20%);

$brand-second-light-20: lighten($brand-second, 20%);
$brand-second-dark-20: darken($brand-second, 20%);

$home-widget-parallax: none !default;

$boxshadow: 3px 3px 4px 0 rgba(0,0,0,.25);

$white: #fff;
$black: #000;